# Unity
[Ll]ibrary/
[Ll]ogs/
[Tt]emp/
[Uu]serSettings/
build/
state-machine-async_BurstDebugInformation_DoNotShip/

# Never ignore Asset meta data
!/[Aa]ssets/**/*.meta

# C#, Visual Studio
*.csproj
.idea/
*.sln
.vs
.vscode
.vsconfig
obj/

# OS
.DS_Store*
[Tt]humbs.db
[Dd]esktop.ini

#Server bundles
[Ss]erverData/